<div class="container d-flex flex-column align-items-center">
    {% for b in bt %}
    
    {% if player.battleTower >= b.stage-1  %}
    
    <div hx-post="/battle/battletower?hp={{b.hp}}&power={{b.power}}&atk={{b.atk}}&name={{b.enemy}}&stage={{b.stage}}&prize={{b.prize}}" class="card" style="width:18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">stage {{b.stage}}</h5>
          <h6 class="card-subtitle mb-2 text-muted ">{{b.enemy}}</h6>
          <img class=""
          src="{{ url_for('static', filename='' ~ b.enemy ~ '.gif' ) }}" alt="Monster Image">
        </div>
      </div>
    {% endif %}
    {% endfor %}
   
    
</div>