<div class=" " style="background-color: #3badff; margin: -24px -48px; padding: 0; position: relative; width: 100vw; height: 100%; overflow: hidden;">
    <div class="p-5">
        <h2>Monster</h2>
        <div class="row">
            <!-- Add shop items here -->
           
                {%for m in monsters%}
                
                <div class="card" style="width:18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{m['name']}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted ">L:{{m['level']}}</h6>
                        <!-- <p class="card-text">{{m}}</p> -->
                        
                    </div>
                    <img src="{{ url_for('static', filename='' ~ m.name ~ '.gif') }}" class="card-img-top" alt="...">
                </div>
                {% endfor %}
            
        </div>
    </div>
</div> 

<style>
    #game_window {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}</style>