<div class="container justify-center">
    <div class="row pt-2">
        {% for m in monsters %}
        <div class="card mb-3" style="max-width: 540px;" data-bs-toggle="modal" data-bs-target="#monsterModal"
            data-name="{{ m.name }}" data-id="{{ m.monster_id }}" data-type="{{ m.type }}"
            data-bulk='{{ m | tojson | safe }}'
            data-image="{{ url_for('static', filename='' ~ m.name ~ '.gif') }}">
            <div class="row g-0">
                <div class="col-md-4 relative">
                    <img src="{{ url_for('static', filename='' ~ m.name ~ '.gif') }}" class="img-fluid monster-image rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ m.name }} {% if m.active %}<span class="badge rounded-pill bg-success">Active</span>{% endif %}</h5>
                        <p class="card-text">
                            <span class="badge rounded-pill bg-secondary">LVL: {{ m.level }}</span>
                            <span class="badge rounded-pill bg-{{ m.type }}">Type: {{ m.type }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="monsterModal" tabindex="-1" aria-labelledby="monsterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="monsterModalLabel">Monster Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImage" class="img-fluid" alt="Monster Image">
                <h5 id="modalName" class="mt-2"></h5>
                <p id="modalId"></p>
                <p id="modalType"></p>
                <p id="modalEvo"></p>
            </div>
            <div class="modal-footer">
                <button 
                id="switchBtn"
                class="btn btn-primary d-none"
                hx-post="/app/utils/switch"
                hx-trigger="click"
                hx-target="body"
                hx-vals='{}'>
                Switch
            </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Style -->
<style>
    .bg-vi {
        background-color: blue;
    }

    .bg-va {
        background-color: rgb(34, 255, 0);
    }

    .bg-da {
        background-color: yellow;
        color: black;
    }

    .monster-image {
        width: 100%;
        image-rendering: pixelated;
    }

    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
</style>

<!-- Script -->
<script>
    var monsterModal = document.getElementById('monsterModal');

    monsterModal.addEventListener('show.bs.modal', function (event) {
        var card = event.relatedTarget;

        var name = card.getAttribute('data-name');
        var id = card.getAttribute('data-id');
        var type = card.getAttribute('data-type');
        var image = card.getAttribute('data-image');
        var bulk = JSON.parse(card.getAttribute('data-bulk'));
        console.log(bulk)
        // Get modal elements
        var modalTitle = monsterModal.querySelector('.modal-title');
        var modalImage = monsterModal.querySelector('#modalImage');
        var modalName = monsterModal.querySelector('#modalName');
        var modalId = monsterModal.querySelector('#modalId');
        var modalType = monsterModal.querySelector('#modalType');
        var modalEvo = monsterModal.querySelector('#modalEvo');
        var switchBtn = monsterModal.querySelector('#switchBtn');

        // Update modal content
        modalTitle.textContent = name + ' Details';
        modalImage.src = image;
        modalName.textContent = 'Name: ' + name;
        modalId.textContent = 'ID: ' + id;
        modalType.textContent = 'Type: ' + type;
        modalEvo.textContent = 'Base ATK: ' + bulk.baseatk;

        // Handle Switch button
        if (!bulk.active) {
            switchBtn.classList.remove('d-none');
        
            switchBtn.setAttribute('hx-vals', JSON.stringify({
                monster_id: bulk._id,
               
            }));
        
        } else {
            switchBtn.classList.add('d-none');
            switchBtn.removeAttribute('hx-vals');
        }
        
    });
</script>
