<div class=" " style="background-color: #ffeb3b; margin: -24px -48px; padding: 0; position: relative; width: 100vw; height: 100%; overflow: hidden;">
    <div class="p-5">
        <h2>Shop</h2>
        <div class="row">
            <!-- Add shop items here -->
            <div class="col-12">
                <p>Shop content coming soon!</p>
            </div>
        </div>
    </div>
</div> 

<style>
    #game_window {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}</style>