{% extends "base.html"%}
{% block content %}
{% include "nav.html" %}



<div style="background-color: gray; border-radius:10px" class="container !direction !spacing pb-5">
  <h1>{{data.name}} - Pokemon {{game_info.name[0].upper()}}{{game_info.name[1:]}}</h1>
  </hr>
  <div class="row mx-auto ">
    <div class="col col-sm-12 col-md-6 col-lg-3 pb-3 text-center"
      style="background-color: #589c59; border-radius: 10px;">
      <section class="inner">
        <p style="margin-bottom: 1px;">Kanto</p>
        <h2>{{data.name}}</h2>
      </section>
      <section class="inner">
        <div>
          <h2>map</h2>
        </div>
        <div class="mx-auto">
          <img class="mx-auto" width="80%" src="{{ url_for('static', filename='routes/' ~ data.no ~ '.png' ) }}">
                </div>
      </section>
      <section class="inner">
        <div class="row">
          <h5>Connecting locations </h5>
          <div class="row mx-auto allign-center">
            <div class="col-4"></div>
            <div class="col-4">N <br> {{data.north}}</div>
            <div class="col-4"></div>
            <div class="col-4">E</div>
            <div class="col-4">{{data.name}}</div>
            <div class="col-4">W</div>
            <div class="col-4"></div>
            <div class="col-4">S {{data.south}}</div>
            <div class="col-4"></div>
          </div>
        </div>
      </section>
    </div>
    <div class="col col-sm-12 col-md-6 col-lg-9 ">
      <h2>Pokemon Encounters</h2>

      <div class="table-container">
        <table style="border: 2px solid #4AA14D; background: #75C977; margin-right: 5px; margin-bottom: 5px;"
          cellspacing="2" cellpadding="4">
          <th class="tbg">Pokemon</th>
          <th class="tbg">enconter rate</th>
          <th class="tbg">location type</th>
          <th colspan="2" class="tbg">caught</th>
          {% for p in data.pokemon.grass[game_info.name]%}
          <tr>
            <td>
              {{p.name}}
            </td>
            <td>
              {{p.encounter}}
            </td>
            <td>Grass</td>
            <td>{% if p.id in ca%}
              Y
              {%else %}
              N
          {%endif%}
            </td>
            <td>{% if p['id'] in ca %}
              <form action="/uncaught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">uncaught</button>
              </form>
              {% else %}
              <form action="/caught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">caught</button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}



          {% if data.pokemon.fishing != None %}
          <tr>
            <th class="tbgw text-center" colspan="5">Fishing</th>
          </tr>
          <th class="tbgw">Pokemon</th>
          <th class="tbgw">enconter rate</th>
          <th class="tbgw">rod Type</th>
          <th class="tbgw" colspan="2">caught</th>
          {% for p in data.pokemon.fishing.oldrod[game_info.name]%}
          <tr>
            <td>
              {{p.name}}
            </td>
            <td>
              {{p.encounter}}
            </td>
            <td>old rod</td>
            <td>{% if p.id in ca%}
              Y
              {%else %}
              N
              {%endif%}
            </td>
            <td>{% if p['id'] in ca %}
              <form action="/uncaught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">uncaught</button>
              </form>
              {% else %}
              <form action="/caught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">caught</button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% for p in data.pokemon.fishing.goodrod[game_info.name]%}
          <tr>
            <td>
              {{p.name}}
            </td>
            <td>
              {{p.encounter}}
            </td>
            <td>Good Rod</td>
            <td>{% if p.id in ca%}
              Y
              {%else %}
              N
              {%endif%}
            </td>
            <td>{% if p['id'] in ca %}
              <form action="/uncaught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">uncaught</button>
              </form>
              {% else %}
              <form action="/caught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">caught</button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% for p in data.pokemon.fishing.superrod[game_info.name]%}
          <tr>
            <td>
              {{p.name}}
            </td>
            <td>
              {{p.encounter}}
            </td>
            <td>Super Rod</td>
            <td>{% if p.id in ca%}
              Y
              {%else %}
              N
              {%endif%}
            </td>
            <td>{% if p['id'] in ca %}
              <form action="/uncaught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">uncaught</button>
              </form>
              {% else %}
              <form action="/caught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">caught</button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% if data.pokemon.surfing != None  %}
          {% if data.pokemon.surfing[game_info.name] != None  %}  
          <tr>
            <th class="tbgw text-center" colspan="5">Surfing</th>
          </tr>
              
          {% for p in data.pokemon.surfing[game_info.name]%}
          <tr>
            <td>
              {{p.name}}
            </td>
            <td>
              {{p.encounter}}
            </td>
            <td>Surfing</td>
            <td>{% if p.id in ca%}
              Y
              {%else %}
              N
          {%endif%}
            </td>
            <td>{% if p['id'] in ca %}
              <form action="/uncaught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">uncaught</button>
              </form>
              {% else %}
              <form action="/caught/{{gid}}/{{p.id}}" method="POST">
                <input type="hidden" name="next" value="{{request.args.get('next')}}" />
                <button type="submit" class="btn btn-primary">caught</button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% endif %}
      </div>
      {% endif %}
      {% endif %}
      </table>
    </div>
    {% include "pokeradar/partialGenoneLocations.html" %}
  </div>
</div>
<style>
  .inner {
    background-color: #75C977;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ce991e;
    padding: 4px;
  }


  .container img {
    display: block;
    /* This removes extra space under the image */
    margin: 0 auto;
    /* Center the image horizontally */
  }

  .table-container {
    overflow-x: auto;
    /* Enable horizontal scrolling */
    max-width: 100%;
    /* Ensure the table doesn't extend beyond its container */
  }


  table {
    border: 5px solid #2f2d80;
    background: #75C977;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow-y: scroll;
  }

  table,
  th,
  td {
    border: 2px solid #4AA14D;
  }

  .tbg {
    background: #A2E0A3;
    color: #000000;
  }

  .tbgw {
    background: #9DB7F5;
    color: #000000
  }

  td {
    background: white;
  }
</style>
{% endblock %}