<section class="inner text-center">
    <h5> Gen 1 Locations</h5>
    <p>-routes-</br>
    <a href="/pokeradar/{{clean_data_progess._id}}/{{game_info.gen}}/route1">1</a> • <a href="/pokeradar/{{clean_data_progess._id}}/{{game_info.gen}}/route2">2</a> • <a href="/pokeradar/{{clean_data_progess._id}}/{{game_info.gen}}/route3">3</a> • <a href="/pokeradar/{{clean_data_progess._id}}/{{game_info.gen}}/route4">4</a> • <a href="/pokeradar/{{clean_data_progess._id}}/{{game_info.gen}}/route5">5</a> • <a href="/pokeradar/{{clean_data_progess._id}}/{{game_info.gen}}/route6">6</a> • 7 • 8 • 9 • 10 • 11 • 12 • 13 • 14 • 15 • 16 • 17 • 18 • 19 • 20 • 21 • 22 • 23 • 24 • 25 • 26 • 27 • 28 </p>
    <p>caves & key locations <br>
 • Viridian Forest • Diglett's Cave • Mt. Moon • Cerulean Cave • S.S. Anne • Sea Cottage • Rock Tunnel
Power Plant • Cycling Road • Team Rocket Hideout • Silph Co • Pokémon Tower • Safari Zone/Pal Park • Seafoam Islands • Pokémon Mansion • Cinnabar Lab • Pokémon League Reception Gate • Victory Road • 
</p>
    <p>towns <br>
    Pallet Town • Viridian City • Pewter City • Cerulean City • Vermilion City • Lavender Town Celadon City • Saffron City • Fuchsia City • Cinnabar Island • Indigo Plateau</p>
<a href="/games/{{clean_data_progess._id}}">go to summary chart</a>
</section>