{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<section id="monster" class=" container-fluid bga" style="background-image: url('static/bg/1.jpeg'); min-height:95vh; width:100%;">
<div class="row">
    <button style="width: 200px;">test</button>
</div>
<div class="d-flex flex-column justify-content-center align-content-between">
<div id="explore-row-1" class="row mon-layout pt-5"><div   hx-get="/explore/monster" hx-trigger="load" hx-vals="_=Date.now()">  </div></div>
<div id="explore-row-2" class="row mon-layout"><div  hx-get="/explore/monster" hx-trigger="load delay:10ms" hx-vals="_=Date.now()">  </div></div>
<div id="explore-row-2" class="row mon-layout"><div  hx-get="/explore/monster" hx-trigger="load delay:20ms" hx-vals="_=Date.now()">  </div>
</div>
</div>
</section>
<style>
    
    .bga {
        position: relative;
        background-size: cover;        
        background-position: center;
    }
    .mon-layout{
        
        image-rendering: pixelated;
        padding-bottom: 5vh;
    }
    .mon-layout:nth-child(1)  img{
        height: 15vh;
    }
    
    .mon-layout:nth-child(2) img{
        height: 20vh; /* Adjust the height as needed */
    }
    
    .mon-layout:nth-child(3) img{
        height: 25vh; /* Adjust the height as needed */
    }


 
</style>
{% endblock %}