{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
    <h1>Pokedex</h1>
    {{ current_user.id }}
    {% if current_user.pic != None %}
    <h2>pic</h2>
    {{current_user.pic}}
    {% else %}
    <h2>no pic</h2>
    {% endif %}
<div class="container mx-auto ">
<h2>my current games</h2>
<div class="d-flex flex-wrap mx-auto ">
{% for d in games_l %}
<!-- {{d}} -->

<div class="card" style="width: 18rem;">
  <a href="/gamesummary/{{d['postid']}}">
  <img src="{{d['imgurl']}}" class="card-img-top" alt="...">
    <div class="card-title">{{d['gname']}}</div>
    <div class="card-text">{{d['title']}}</div>
    <div class="card-text">{{d['_id']}}</div>
  </a>
</div>

{% endfor %}
</div>
</div>
<div class="container-fluid !direction !spacing mt-5">
 
 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    start a new game 
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/api/postgame" method="POST">
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" aria-describedby="emailHelp">
              </div>
              
              <input type="radio" name="options" id="1" value="1"> pokemon crystal </input><br>
              <input type="radio" name="options" id="2" value="2"> pokemon red </input><br>
              <input type="radio" name="options" id="3" value="3"> pokemon yellow </input><br>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="subimt" class="btn btn-primary">Submit</button> 
          

        </div>
        </form>
      </div>
    </div>
  </div>
</div>  
{% endblock %}