{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
{% for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
    <div class="row">
        <div class="col col-sm-12 col-md-6 col-lg-3 pb-3 text-center bg-red  order-2 order-sm-2 order-md-1"
            style="background-color: #ce991e; min-height:95vh">

            <section class="inner">
                <h3>{{current_user.username}}</h3>
                
            </section>
            {%if "admin" is in current_user.roles%}
                <span style="margin-top: -10;" class="badge rounded-pill text-bg-primary">{{current_user.roles}}</span>
                {%endif%}
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-9 order-1 order-sm-1 order-md-2">
            <div id="monster" class="container mx-auto ">
                {% if monster is not none %}
                <h2>My Monster</h2>
                <section class=" container bga" style="background-image: url('static/bg/1.jpeg');">
                    <div class="relative mx-auto">
                        <img class="monster-image frame1"
                            src="{{ url_for('static', filename='' ~ monster.name ~ '.gif' ) }}" alt="Monster Image">
                        <img class="monster-image frame2"
                            src="{{ url_for('static', filename='frame2/' ~ monster.name ~ '.gif' ) }}"
                            alt="Frame 2 Image">
                    </div>
                </section>
                <section>
                    <div class="container Rinner row">
                        <div class="col col-sm-12 col-md-6">
                            <p><span>name:</span> {{monster.name}}</p>
                            <p><span>stage:</span> {{monster.stage}}</p>
                            <p><span>Level:</span>{{monster.level}}</p>
                            <p><span>Exp:</span>{{monster.exp}}</p>

                        </div>
                        <div class="col col-sm-12 col-md-6">
                            <p><span>Hunger:</span> Comming soon</p>
                            <p><span>HP:</span> {{monster.hp}}</p>
                            <p><span>Atk:</span>{{monster.atk}}</p>
                            <p><span>Power:</span>{{monster.basepower}}</p>

                        </div>
                    </div>
                </section>
                <section class="buttons d-flex" style="flex-wrap: wrap;">
                    <button type="button" class="btn btn-secondary" onclick="showAlert('Feed')">Feed</button>
                    <button type="button" class="btn btn-secondary" onclick="showAlert('Train')">Train</button>
                    <button type="button" class="btn btn-secondary" onclick="showAlert('Quest')">Quest</button>
                    <button type="button" class="btn btn-secondary" onclick="showAlert('Battle')">Battle</button>
                    <button type="button" class="btn btn-secondary" onclick="showAlert('Explore')">Explore</button>
                    <button type="button" class="btn btn-secondary" onclick="showAlert('PVP')">PVP</button>
                </section>
                {% else %}
                <div class="px-4 py-5 my-5 text-center">
                    <img class="d-block mx-auto mb-4" src="/static/digivice.png" alt="" width="72" height="57">
                    <h1 class="display-5 fw-bold">Looks like you don't have a Digital Partner</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="lead mb-4">Click the button below to being </p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Get your V-pet
                            </button>

                        </div>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            start a new game 
          </button> -->

                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="container-fluid !direction !spacing mt-5">

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/api/createmonster" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Title</label>
                            <input type="text" class="form-control" name="title" aria-describedby="emailHelp">
                            <div class="container">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Choose a Monster</h5>
                                        <div class="row">
                                            <!-- egg selector-->
                                            <div class="col-md-4">
                                                <div class="card text-center">
                                                    <img src="{{ url_for('static', filename='eggs/digitama_c1.gif' )}}"
                                                        class="card-img-top" alt="Pokemon Crystal">
                                                    <div class="card-body">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" value=1 id=1 name="options"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label" for=1>bottomon</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="subimt" class="btn btn-primary">Submit</button>


                            </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function showAlert(feature) {
        alert(`"${feature}" feature is coming soon.`);
    }
</script>
<style>
    .custom-control-input:checked~.custom-control-label::before {
        border: 2px solid blue;
    }

    .bga {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;

    }

    .relative {
        position: relative;
        height: 250px;
        width: 250px;
    }

    section {

        image-rendering: pixelated;
    }

    .monster-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .frame2 {
        animation: frame-animation 1s infinite;
        position: absolute;
        margin-top: 0 !important;
        box-shadow: none !important;
    }

    @keyframes frame-animation {
        0% {
            opacity: 0;
        }

        49.99% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    .frame1 {
        animation: frame1-animation 1s infinite;
        position: absolute;
        margin-top: 0 !important;
        box-shadow: none !important;
    }

    @keyframes frame1-animation {
        0% {
            opacity: 1;
        }

        49.99% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    .inner {
        background-color: #75C977;
        margin-top: 5px;
        border-radius: 10px;
        border: 1px solid #ce991e;
        padding: 4px;
    }

    .Rinner {
        background-color: #767676;
        margin-top: 5px;
        border-radius: 10px;
        border: 1px solid #ce991e;
        padding: 4px;
    }
</style>
{% endblock %}